@import 'include-media/dist/_include-media.scss';

$breakpoints: (
  small: 768px,
  medium: 1024px,
  large: 1440px,
  xlarge: 1660px,
  xxlarge: 1920px,
  xxxlarge: 2560px,
);

@mixin portrait {
  @include media('portrait') {
    @content;
  }
}

@mixin landscape {
  @include media('landscape') {
    @content;
  }
}

@mixin mobile {
  @include media('<=medium', 'height<=medium') {
    @content;
  }
}

@mixin tablet {
  @include media('>=small', '<=medium', 'height>=small', 'height<=medium') {
    @content;
  }
}

@mixin getRemFontSize($size) {
  font-size: #{calc(1000 / $size)}vw;
  font-size: calc(#{calc(1000 / $size)}vw - var(--sbw) / $size * 0.1);
}