/* 
// Exemples
@font-face {
  font-family: 'Metropolis';
  src: url('@/assets/fonts/Metropolis-SemiBoldItalic.woff2') format('woff2'),
    url('@/assets/fonts/Metropolis-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
} 
@import url('https://api.fontshare.com/v2/css?f[]=erode@400,500&f[]=satoshi@400,700&display=swap');
*/